<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <!-- Static navbar -->
            <institute-header></institute-header>
            <!-- Main component for a institutes action -->
            <div class="jumbotron clearfix">
                <router-outlet></router-outlet>
            </div>
            <institute-footer></institute-footer>
        </div>
        <div class="col-md-2">

            ADS place here...
        </div>
    </div>
</div>