<table class="table table-striped table-hostel-facilities table-responsive ">
    <thead>
        <tr>
            <th></th>
            <th>From Time</th>
            <th>To Time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Breakfast</td>
            <td>
                9:00 AM </td>
            <td>
                10:00 AM </td>
        </tr>
        <tr>
            <td>Lunch</td>
            <td>
                12:30 PM </td>
            <td>
                1:30 PM
            </td>
        </tr>
        <tr>
            <td>Snacks</td>
            <td>
                4:00 PM </td>
            <td>
                5:00 PM </td>
        </tr>
        <tr>
            <td>Dinner</td>
            <td>
                8:30 PM </td>
            <td>
                10:30 PM </td>
        </tr>

    </tbody>
</table>