<div class="page-height" style="padding-bottom:14px">
  <!-- style="padding-bottom:131px" -->
  <!-- <div class="form-header ">
   <h3>Institute Registration</h3>
  </div> -->
  <div class="row" >
    <div class="col-sm-12 col-md-10 offset-sm-0 offset-md-1">
      <div class="card card-body">
        <app-institute-registration #regForm ></app-institute-registration>
        <div class="row">
            <div class="col-sm-12 col-md-12">
              <div class="text-center">
                <!-- <button mat-button class="btn btn-md btn-register btn-color" [hidden]="submitFlag"
                (click)="onRegisterInstitute(regForm)" >Update</button> -->
              </div>
              <!-- <span class="alert" style="color: red" *ngIf="!regForm.Institute_form.valid">
                Please Required fields
              </span> -->
            </div>
          </div>
      </div>
    </div>
  </div>
</div>