<div class="page-height">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 offset-md-1 offset-lg-1">
      <div class="card card-body">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <!-- <h3>About Institute:</h3> -->
          </div>
        </div>
        <app-course #courseForm></app-course>
        <!-- <div class="row">
          <div class="col-sm-12 text-center">
            <button class="btn btn-md btn-register btn-color" (click)="onAddCourse(courseForm)" >Add Course</button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>