<div class="full">
  <section class="content">
    <!-- <div class="container "> -->
    <div class="row">
      <div class="col-sm-5 col-md-6 col-xl-7">
      </div>
      <div class="col-sm-6 col-md-5 col-xl-4">
        <div class="row login-padding">
          <div class="container-reg">
            <div class="panel-body card mat-elevation-z8">
              <form [formGroup]="l_form" (ngSubmit)="onsignin(f)" #f="ngForm">
                <div class="pt-3 ">
                  <img src="../assets/img/institute_default_logo.png">
                  <h3 class="header-3 pull-right">Sign In</h3>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 log-padding ">
                    <div class="form-inline">
                      <mat-form-field>
                        <input matInput placeholder="Email ID" formControlName="username" aria-label="email" required>
                        <span matSuffix>
                          <i class="fa fa-envelope"></i>
                        </span>
                        <mat-error>
                          <span *ngIf="l_form.get('username').errors?.required">Email ID Required</span>
                          <span *ngIf="l_form.get('username').errors?.invalid">Please Enter Valid Email ID.</span>
                          <span *ngIf="l_form.get('username').errors?.pattern">Please Enter Valid Email ID</span>
                        </mat-error>


                      </mat-form-field>

                    </div>

                  </div>
                  <div class="col-sm-12 col-md-12 log-padding ">
                    <div class="form-inline">
                      <mat-form-field>
                        <input matInput placeholder="Password" formControlName="password" type="password" maxlength="20" required>
                        <span matSuffix>
                          <i class="fa fa-lock"></i>
                        </span>

                        <mat-error>
                          <span *ngIf="l_form.get('password').errors?.required">
                            Password Required.
                          </span>
                          <span *ngIf="l_form.get('password').errors?.pattern">
                            Please enter valid password
                          </span>

                        </mat-error>


                      </mat-form-field>
                    </div>

                  </div>
                  <div class="col-sm-12 col-md-12 reg-padding">
                    <label class="control-label" for="group">Account Type
                      <!-- <span style="color: red">*</span> -->
                      :
                    </label>
                    <mat-radio-group id="group" class="example-radio-group" formControlName="type" required>
                      <mat-radio-button class="example-radio-button" value="1" >Jobs</mat-radio-button>
                      <mat-radio-button class="example-radio-button" value="2" >Hostel</mat-radio-button>
                      <mat-radio-button class="example-radio-button" value="3">Institute</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="col-sm-12  text-center log-padding">
                    <span *ngIf="this.message" class="alert" style="color: red">
                      {{ message }}
                    </span>
                    <!-- <span class="alert" style="color: red" *ngIf="submitFlag && !l_form.valid">
                      * Please enter mandatory fields
                    </span> -->
                  </div>
                  <div class="col-sm-12  text-center">

                    <button id="signupSubmit" mat-button type="submit" class="btn btn-md btn-color ">Login</button>
                  </div>

                </div>
                <div class="row pt-3">
                  <div class="col-sm-12">
                    <div class="text-center">
                      <mat-divider></mat-divider>
                      <div class="options">

                        <p>Don't have an account?
                          <a routerLink="../registration">
                            <u>Sign Up</u>
                          </a>
                        </p>


                        <p>
                          <a routerLink="../forgot password">
                            <u>Forgot Password?</u>
                          </a>
                        </p>

                      </div>

                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </section>
</div>