<!-- <app-topbar></app-topbar> -->

<!-- <div class="full">
  <section class="content"> -->
<div class="page-height">
  <div class="row">
    <div class="col-sm-12 col-md-10 offset-sm-0 offset-md-1">
      <div class="card card-body">
        <form [formGroup]="form" (ngSubmit)="updateProfile()">
          <!-- <button class="btn btn-sm btn-color" mat-button type="button" (click)="goHome()">Go to Home</button> -->
          <!-- <span class="fa fa-info fa-2x p-2" style="color:red">Profile </span> -->
          <div class="row">
              <div class="col-sm-12">
            <div class="block-header">
              <strong>Profile</strong>
              <button class="btn btn-sm btn-color pull-right" mat-button type="button" (click)="goHome()">Home</button>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="p-2">
                <mat-form-field>
                  <input matInput placeholder="First Name" formControlName="firstname" autocomplete="off" required>
                  <mat-error>
                    <span *ngIf="form.get('firstname').errors?.required">
                      First name is required.
                    </span>
                    <span *ngIf="form.get('firstname').errors?.pattern">
                      Please enter valid name .
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="p-2">
                <mat-form-field>
                  <input matInput placeholder="Last Name" formControlName="lastname" autocomplete="off" required>
                  <mat-error>
                    <span *ngIf="form.get('lastname').errors?.required">
                      Last Name is required.
                    </span>
                    <span *ngIf="form.get('lastname').errors?.pattern">
                      Please enter valid Last Name .
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="text-center">
                <button class="btn btn-sm btn-color" mat-button type="submit">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> 
<!-- </section>
</div> -->
<!-- <app-footer></app-footer> -->