<div class="page-height ">
  <!-- <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 offset-md-1 offset-lg-1">
      <div class="card card-body">
       
        <div class="row" [hidden]="!searchFlag">
          <div class="col-sm-6">
            <mat-form-field>
              <mat-select placeholder="Course" [(ngModel)]="course">
                <mat-option *ngFor="let option of course_options" [value]="option.id">
                  {{ option.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field>
              <mat-select placeholder="Status" [(ngModel)]="status">
                <mat-option *ngFor="let option of status_options" [value]="option.id">
                  {{ option.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-12 text-center">
            <button mat-button class="btn btn-md btn-color" (click)="onSearch()">Search</button>
          </div>
        </div>
        <div class="row">

        </div>
      </div>
    </div>
  </div> -->
  <div class="row ">
    <div class="col-sm-12 ">
      <div class="card card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="">
              <div class="row p-1">
                <div class="col-sm-8 pt-3">
                  <!-- <strong>Faculty Details</strong> -->
                  <!-- <button class="btn btn-md btn-color "> -->
                  <a mat-button type="button" routerLink="../add">Create Batch</a>
                  <!-- </button> -->
                </div>
                <div class="col-sm-4">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" #filter>
                    <button mat-button *ngIf="filter.value" matSuffix mat-icon-button aria-label="Clear" (click)=" applyFilter(filter.value='')">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                  <!-- <button class="btn btn-md btn-color pull-right" (click)="searchFlag = !searchFlag">
                            Search
                          </button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-sm-12">
            <mat-table [dataSource]="dataSource" class="table-hover" matSort>
              <!-- displayedColumns = 'batch_name', 'session_type', 'course_id', 'startson', 'demo_from_date', 
                          'demo_to_date', 'status','action'-->

              <ng-container matColumnDef="sno">
                <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                <mat-cell *matCellDef="let element; let i=index;"> {{ paginator == undefined ? (i+1) : ((paginator.pageSize)*(paginator.pageIndex) +(i+1)) }} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="batch_name">
                <mat-header-cell *matHeaderCellDef> Batch Name </mat-header-cell>
                <mat-cell *matCellDef="let element;"> {{ element.batch_name }} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="session_name">
                <mat-header-cell *matHeaderCellDef> Session Type </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.session_name }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="course_name">
                <mat-header-cell *matHeaderCellDef> Course </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.course_name }} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="faculty">
                  <mat-header-cell *matHeaderCellDef> Faculty </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{ element.faculty_name }} </mat-cell>
                </ng-container>
              <ng-container matColumnDef="startson">
                <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.startson | date:'dd-MMMM-yyyy' }} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="demo_from_date">
                <mat-header-cell *matHeaderCellDef> Demo Start Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.demo_from_date | date:'dd-MMMM-yyyy'}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="demo_to_date">
                <mat-header-cell *matHeaderCellDef> Demo End Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.demo_to_date | date:'dd-MMMM-yyyy'}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="timings">
                <mat-header-cell *matHeaderCellDef> Timings </mat-header-cell>
                <mat-cell *matCellDef="let element; let i=index;">{{ getTimeFormat(i) }} </mat-cell>
              </ng-container>
              
              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
                <!-- style="flex: .5 0 80px;" -->
                <mat-cell *matCellDef="let row; let i=index;">
                  <span *ngIf="row.is_active;else active">
                    <button mat-icon-button color="accent" (click)='onDeactivate(row,i)' matTooltip="Click here to Deactivate">
                      <i class="fa fa-check">
                      </i>
                      <!-- <mat-icon aria-label="person_add_disabled">person_add_disabled</mat-icon> -->
                    </button>
                  </span>
                  <ng-template #active>
                    <button mat-icon-button color="accent" (click)='onActivate(row,i)' matTooltip="Click here to Activate">
                      <i class="fa fa-times">
                      </i>
                      <!-- <mat-icon aria-label="person_add_disabled">person_add_disabled</mat-icon> -->
                    </button>
                  </ng-template>
                  <button mat-icon-button color="accent" (click)="onEdit(i, row)" matTooltip="Click here to View Details">
                    <!-- <mat-icon aria-label="View">remove_red_eye</mat-icon> -->
                    <i class="fa fa-eye">
                    </i>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>