<app-topbar></app-topbar>

<div class="full">
  <section class="content">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <!-- <span class="fa fa-info fa-2x p-2" style="color:red">Password change </span> -->
        </div>
      </div>
      <div class="col-sm-12 col-md-6 offset-sm-0 offset-md-3">
        <div class="card card-body">
        <div class="page-height">

          <form [formGroup]="form" (ngSubmit)="changepassword()">
            <div class="row">
              <div class="col-sm-12">
                <div class="block-header">
                  <strong>Password Change</strong>
                  <button class="btn btn-sm btn-color pull-right" mat-button type="button" (click)="goHome()">Home</button>
                </div>

              </div>
            </div>
            <!-- <div class="row">
              <div class="col-sm-12">
                <div class="">
                  <div class="text-center">
                    <label>Allowed special characters for Password are #,$,&,*</label>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="col-sm-12">
                <div class="">
                  <mat-form-field>
                    <input matInput placeholder="Old Password" formControlName="oldpassword" type="password" minlength="6" autocomplete="off"
                      required>
                    <mat-error>
                      <span *ngIf="form.get('oldpassword').errors?.required">
                        Old Password is required.
                      </span>
                      <span *ngIf="form.get('oldpassword').errors?.pattern">
                        Please enter valid password .
                      </span>
                      <span *ngIf="form.get('oldpassword').errors?.minlength">
                        min Length is 6 .
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="">
                  <mat-form-field>
                    <input matInput placeholder="New Password" formControlName="newpassword" minlength="6" autocomplete="off" type="password"
                      required>
                    <mat-error>
                      <span *ngIf="form.get('newpassword').errors?.required">
                        New Password is required.
                      </span>
                      <span *ngIf="form.get('newpassword').errors?.pattern">
                        Please enter valid password .
                      </span>
                      <span *ngIf="form.get('newpassword').errors?.minlength">
                        min Length is 6 .
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="">
                  <mat-form-field>
                    <input matInput placeholder="Confirm Password" type="password" formControlName="confirmpassword" minlength="6" autocomplete="off"
                      required>
                    <mat-error>
                      <span *ngIf="form.get('confirmpassword').errors?.required">
                        Confirm Password is required.
                      </span>
                      <span *ngIf="form.get('confirmpassword').errors?.pattern">
                        Please enter allowed characters.
                      </span>
                      <span *ngIf="form.get('confirmpassword').dirty">
                        Password not matching.
                      </span>
                      <span *ngIf="form.get('confirmpassword').errors?.minlength">
                        min Length is 6 .
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
             <div class="col-sm-12  text-center">
                    <!-- <span class="alert" style="color: red" *ngIf="btnSubmit && !reg_form.valid && !reg_form.get('confirmPassword').dirty ">
                      Please enter mandatory fields
                    </span> -->
                    <span class="alert" style="color: red" *ngIf="form.hasError('mismatchedPasswords')">
                      Entered passwords are not matching
                    </span>
                  </div>
              <div class="col-sm-12">
                <div class="text-center">
                  <button class="btn btn-sm btn-color" mat-button type="submit">Submit</button>
                </div>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>