<form [formGroup]="form" (ngSubmit)="onAddCourse()">
  <div class="row">
    <div class="col-sm-12 ">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Course Name" [matAutocomplete]="cou" formControlName="courseName" required>
        <mat-autocomplete #cou="matAutocomplete">
          <mat-option *ngFor="let option of filteredcourse | async" [value]="option.course_name">
            <span>{{ option.course_name }}</span>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="!form.get('courseName').valid &&
                          (form.get('courseName').dirty || form.get('courseName').touched) || submitFlag">
          <span *ngIf="form.get('courseName').errors?.required">
            Course Name is required.
          </span>
          <span *ngIf="form.get('courseName').errors?.pattern">
            Please Enter Valid Name.
          </span>
        </mat-error>
      </mat-form-field>
      <!-- <mat-form-field>
          <mat-select placeholder="Course Name" formControlName="courseName" required>
            <mat-option *ngFor="let option of courseOptions" [value]="option.id">
              {{ option.courseName }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
    </div>

  </div>
  <div class="row pb-2">
    <div class="col-sm-12">
      <mat-form-field class="demo-chip-list">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let chip of subcourse" [selectable]="selectable" [disabled]="form.disabled" [removable]="removable" (removed)="remove(chip)">
            {{chip}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Sub Course..." #Elsubcourse formControlName="subcourseName" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" />
        </mat-chip-list>

        <!-- <mat-hint align="start" [hidden]="form.disabled">
          <strong>Please use ','(comma) to enter multiple sub courses</strong>
        </mat-hint> -->
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <mat-form-field>
        <mat-select placeholder="Training Mode" formControlName="mode" [(ngModel)]="t_mode" multiple panelClass="multi">
          <mat-option *ngFor="let option of instituteservObj.tech_mode" [value]="option.ct_id">
            {{ option.course_type }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!form.get('mode').valid && (form.get('mode').dirty || form.get('mode').touched)">
          Training Mode required.
        </mat-error>
      </mat-form-field>

      <!--
       <div class="form-inline">
        <label class="control-label" for="group">Teaching Mode
          <span style="color: red">*</span>:
        </label>
        <mat-radio-group id="group" class="example-radio-group" formControlName="mode" required>
          <mat-radio-button class="example-radio-button" *ngFor="let option of instituteservObj.tech_mode" [value]="option.ct_id">
            {{ option.course_type }}</mat-radio-button>
        
        </mat-radio-group>
      </div>
       -->
    </div>

  </div>
  <div class="row pb-2">
    <div class="col-sm-12">
      <mat-form-field>
        <mat-chip-list #chipList1>
          <mat-chip *ngFor="let chip of selectedqualiOption " [selectable]="selectable" [disabled]="form.disabled" [removable]="removable"
            (removed)="removeQuali(chip)">
            {{chip}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Qualification" #qualiER formControlName="qualification" [matAutocomplete]="quali" [matChipInputFor]="chipList1"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlurquali" (matChipInputTokenEnd)="addQualifi($event)"
          />
        </mat-chip-list>
        <!-- <input matInput placeholder="Qualification" [matAutocomplete]="quali" formControlName="qualification"> -->
        <mat-autocomplete #quali="matAutocomplete" (optionSelected)="selectedQualifi($event)">
          <mat-option *ngFor="let option of filteredqualification | async" [value]="option.name">
            <span>{{ option.name }}</span>
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 pt-2">
      <label class="control-label" for="group">Course duration :
        <span style="color: red">*</span>
      </label>
    </div>
    <div class="col-sm-6">
      <mat-form-field>
        <mat-select placeholder="Months" formControlName="months" required>
          <mat-option *ngFor="let option of months" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="form.get('months').errors?.required">
            Months is required.
          </span>

        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field>
        <mat-select placeholder="Days" formControlName="days" required>
          <mat-option *ngFor="let option of days" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="form.get('days').errors?.required">
            Days is required.
          </span>

        </mat-error>
      </mat-form-field>
    </div>

  </div>
  <div class="row" [hidden]="true">
    <div class="col-sm-12">
      <div class="form-inline">
        <label class="control-label" for="fee">Course Fee:

        </label>
        <mat-radio-group id="fee" class="example-radio-group" formControlName="fee" [(ngModel)]="Selectedfee" (change)="onFeeselect($event)">
          <mat-radio-button class="example-radio-button" *ngFor="let option of masterObj.feeTypes" [value]="option.fee_id">
            {{ option.fee_name }}</mat-radio-button>
          <mat-radio-button class="example-radio-button" value="1">Free</mat-radio-button>
          <mat-radio-button class="example-radio-button" value="2">Fixed</mat-radio-button>
          <mat-radio-button class="example-radio-button" value="3">Range</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <div class="row" [hidden]="true">
    <div class="col-sm-6">
      <div class="form-inline" *ngIf="Selectedfee === 2">
        <mat-form-field>
          <input matInput placeholder="amount" formControlName="fixed">
          <mat-error *ngIf="!form.get('fixed').valid &&
          (form.get('fixed').dirty || form.get('fixed').touched) || submitFlag">
            <span *ngIf="form.get('fixed').errors?.required">
              amount is required.
            </span>
            <span *ngIf="form.get('fixed').errors?.pattern">
              Please Enter Valid Number.
            </span>
            <span>
              maxlength of number is 10.
            </span>
            <span *ngIf="form.get('fixed').errors?.maxLength">
              maxlength of number is 10.
            </span>
          </mat-error>
        </mat-form-field>
        <label class="control-label" for="group">
          rupees
        </label>
      </div>
      <div class="row form-inline" *ngIf="Selectedfee === 3">
        <div class="col-sm-5">
          <mat-form-field>
            <input matInput placeholder="Amount" formControlName="fromRange" (blur)="tofeeOnBlur($event)">
            <mat-error *ngIf="!form.get('fromRange').valid &&
            (form.get('fromRange').dirty || form.get('fromRange').touched) || submitFlag">
              <span *ngIf="form.get('fromRange').errors?.required">
                amount is required.
              </span>
              <span *ngIf="form.get('fromRange').errors?.pattern">
                Please Enter Valid Number.
              </span>
              <span *ngIf="form.get('fixed').errors?.minLength">
                maxlength of number is 10.
              </span>
              <span *ngIf="form.get('fixed').errors?.maxLength">
                maxlength of number is 10.
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-1">
          <label class="control-label" for="group">
            to
          </label>
        </div>
        <div class="col-sm-5 form-inline">
          <mat-form-field>
            <input matInput placeholder="Amount" formControlName="toRange" (blur)="tofeeOnBlur($event)">
            <mat-error>
              <span *ngIf="form.get('toRange').errors?.required">
                amount is required.
              </span>
              <span *ngIf="form.get('toRange').errors?.pattern">
                Please Enter Valid Number.
              </span>

              <span *ngIf="form.get('fixed').errors?.minLength">
                maxlength of number is 10.
              </span>
              <span *ngIf="form.get('fixed').errors?.maxLength">
                maxlength of number is 10.
              </span>
            </mat-error>
          </mat-form-field>
          <label class="control-label" for="group">
            rupees
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">

      <label class="control-label" for="fee">About Course:
        <!-- <span style="color: red">*</span>: -->
      </label>
      <ckeditor [(ngModel)]="ckeditorContent" aria-placeholder="about course" [readonly]="form.disabled" formControlName="about"
        [config]="ckEditorConfig" debounce="500">
      </ckeditor>

    </div>
  </div>
  <!-- <div class="row pt-2">
    <div class="col-sm-4 ">
      <input type="file" accept=".jpg,.png,.jpeg,.gif" formControlName="logo" placeholder="upload file" (change)="handleFileInput($event)"
        #filelogo style="display:none">
      <button type="button" (click)="filelogo.click()" class="btn btn-sm btn-color btn-register wave-light">Upload course Logo</button>

      <p class="help-block">
        <small> Allowed File type jpg | png | jpeg | gif
          <br/>Max File size is 2MB
        </small>
      </p>
    </div>
    <div class="col-sm-8">
      <img [src]="logo_file" height="100px" *ngIf="logo_file !== null">
    </div>
  </div> -->
  <div class="row pt-3">
    <div class="col-sm-12 text-center">
      <button mat-button class="btn btn-md  btn-color m-2" type="button" (click)="onCancel()" [hidden]="form.disabled">Cancel </button>
      <button mat-button class="btn btn-md  btn-color" type="submit" [hidden]="form.disabled">{{ btnCourse }}</button>
    </div>
  </div>
</form>