<div class="row">
  <div class="col-sm-12 col-md-10 col-lg-10 offset-sm-0 offset-md-1 offset-lg-1">
    <div class="card card-body pt-2">
      <div class="row pb-2">
        <div class="col-sm-12">
            <button class="btn btn-sm btn-color pull-left"  (click)="onback()" [hidden]="btnText === 'Add'">
               Back
           </button>
          <button class="btn btn-sm btn-color pull-right"  (click)="onedit()" [hidden]="form.enabled">
            Edit
            <!-- <mat-icon aria-label="Edit">edit</mat-icon> -->
          </button>
        </div>
      </div>
      <mat-divider [hidden]="btnText === 'Add'"></mat-divider>
      <div class="row pt-2">
        <div class="col-sm-12">
          <form [formGroup]="form" (ngSubmit)="onFacAdd()">
            <div class="row">
              <div class="col-sm-12 ">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Faculty Name" formControlName="facName" 
                  maxlength="50" aria-label="name" autocomplete="off" required>
                  <mat-error *ngIf="!form.get('facName').valid &&  (form.get('facName').dirty || form.get('facName').touched) || submitFlag">
                    <span *ngIf="form.get('facName').errors?.required">
                      Faculty Name is required.
                    </span>
                    <span *ngIf="form.get('facName').errors?.pattern">
                      Please Enter Valid Faculty Name.
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <mat-form-field>
                  <input matInput placeholder="Experience" formControlName="exp" maxlength="50" aria-label="exp" required>
                  <mat-error *ngIf="!form.get('exp').valid &&
            (form.get('exp').dirty || form.get('exp').touched) || submitFlag">
                    <span *ngIf="form.get('exp').errors?.required">
                      Experience is required.
                    </span>
                    <span *ngIf="form.get('exp').errors?.maxlength">
                      Max 100 characters .
                    </span>
                    <span *ngIf="form.get('exp').errors?.pattern">
                      Please Enter Valid Experience .
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <mat-form-field>
                  <input matInput placeholder="Mobile No (don't include 0/91)" maxlength="10"  formControlName="mobile" autocomplete="off"
                   (keypress)="commonObj.onlyNumberKey($event)" aria-label="mobile">
                  <!-- <mat-hint [hidden]="form.disabled">Please enter without 0/91</mat-hint> -->
                  <mat-error *ngIf="!form.get('mobile').valid && (form.get('mobile').dirty || form.get('mobile').touched) || submitFlag">
                    <span *ngIf="form.get('mobile').errors?.required">
                      Mobile number is required.
                    </span>
                    <span *ngIf="form.get('mobile').errors?.pattern">
                      Please enter valid mobile number without 0/91.
                    </span>
                    <span *ngIf="form.get('mobile').errors?.minlength">
                        Please enter valid mobile number .
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <mat-form-field>
                  <input matInput  placeholder="Email Id" maxlength="50" formControlName="email" aria-label="email">
                  <mat-error *ngIf="!form.get('mobile').valid && (form.get('mobile').dirty || form.get('mobile').touched) || submitFlag">
                    <span *ngIf="form.get('email').errors?.required">
                      Email Id is required.
                    </span>
                    <span *ngIf="form.get('email').errors?.pattern">
                      Please enter a valid Email Id.
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <label class="control-label" for="fee">About Faculty:
                  <!-- <span style="color: red">*</span>: -->
                </label>
                <ckeditor [(ngModel)]="ckeditorContent" formControlName="about" [config]="ckEditorConfig" [readonly]="form.disabled"
                  debounce="500">
                </ckeditor>
    
              </div>
            </div>
           
    
            <div class="row pt-3">
              <div class="col-sm-12 text-center">
                <button mat-button class="btn btm-md btn-color m-2" type="button" [hidden]="form.disabled" (click)="onCancel()">Cancel</button>
                <button mat-button class="btn btm-md btn-color" type="submit" [hidden]="form.disabled">{{ btnText }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>