<div class="full">
  <section class="content">

    <div class="col-sm-12 col-md-6 offset-sm-0 offset-md-3">
      <div class="card card-body">
        <form [formGroup]="form" (ngSubmit)="onEmailGiven()">
          <div class="row">
            <div class="col-sm-12">
              <div class="block-header">
               <strong> Forgot Password </strong>
               <button class="btn btn-sm btn-color pull-right" mat-button type="button" (click)="goBack()">Back</button>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- <div class="col-sm-12">
              <span class="alert" style="color: red">
                * Please enter required details
              </span>
            </div> -->
            <div class="col-sm-12">
              <div class="p-2">
                <mat-form-field>
                  <input matInput type="email" placeholder="Email Id" formControlName="email" required>
                  <mat-error>
                    <span *ngIf="form.get('email').errors?.required">
                      Email Id required </span>
                    <span *ngIf="form.get('email').errors?.pattern">Please Enter Valid Mail Id.</span>
                    <!-- <span *ngIf="this.emailexist">Email not Registred. Please Register</span> -->
                  </mat-error>

                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="p-2">
                <label class="control-label" for="group">Account Type
                  <!-- <span style="color: red">*</span> -->
                  :
                </label>
                <mat-radio-group id="group" class="example-radio-group" formControlName="type" required>
                  <mat-radio-button class="example-radio-button" value="1" hidden="true">Job Search</mat-radio-button>
                  <mat-radio-button class="example-radio-button" value="2" hidden="true">Hostel</mat-radio-button>
                  <mat-radio-button class="example-radio-button" value="3">Institute</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="p-2 text-center">
                <button class="btn btn-sm btn-color" mat-button type="submit">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </section>
</div>
<!-- <app-footer></app-footer> -->