<div class="page-height">

  <form [formGroup]="form" (submit)="onSubmit()" style="padding:14px">
    <div class="row">
      <div class="col-sm-5 col-md-5 offset-md-1 offset-sm-1">
        <mat-form-field>
          <input matInput placeholder="Web Name" formControlName="w_name">
        </mat-form-field>
      </div>
      <div class="col-sm-5 col-md-5">
        <mat-form-field>
          <input matInput placeholder="Website Title" formControlName="w_title">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-md-5 offset-md-1 offset-sm-1">
        <mat-form-field>
          <input matInput placeholder="Webfriendly Name " formControlName="wf_name">
        </mat-form-field>
      </div>
      <div class="col-sm-5 col-md-5">
        <mat-form-field>
          <input matInput placeholder="Contact No." formControlName="w_contact">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-md-5 offset-md-1 offset-sm-1">
        <mat-form-field>
          <textarea matInput placeholder="Website Description"></textarea>
        </mat-form-field>
      </div>
      <div class="col-sm-5 col-md-5">
        <mat-form-field>
          <textarea matInput placeholder="Website Keywords"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-md-5 offset-md-1 offset-sm-1">
        <mat-form-field>
          <input matInput placeholder="Default Currency">
        </mat-form-field>
      </div>
      <div class="col-sm-5 col-md-5">
        <mat-form-field>
          <input matInput placeholder="Footer Text">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-md-5 offset-md-1 offset-sm-1">
        <mat-form-field>
          <textarea matInput placeholder="Full Address"></textarea>
        </mat-form-field>
      </div>
      <div class="col-sm-5 col-md-5">
        <mat-form-field>
          <textarea matInput placeholder="Map Address"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-md-5 offset-md-1 offset-sm-1">
        <mat-form-field>
          <input matInput placeholder="Map Tooltip">
        </mat-form-field>
      </div>
      <div class="col-sm-5 col-md-5">
        <mat-form-field>
          <input matInput placeholder="Service Tax / GST">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 text-center">
        <button class="btn btn-sm btn-blue" type="submit">Submit</button>
        <button class="btn btn-sm btn-blue" type="button" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>