<nav class="navbar navbar-expand-lg bg-light navbar-hostel mb-3">

    <a class="navbar-brand">
        <img src="http://122.175.58.27:3000/images/logos/91284tojl5709tc.png" class="hostel-logo">
    </a>
    <div class="upper-case"><span>Hostel Name</span></div>
    <button class="navbar-toggler" type="button" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item ">
                <a class="nav-link" [ngx-scroll-to]="'#facilities'">Facilities</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [ngx-scroll-to]="'#price'">Price</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [ngx-scroll-to]="'#availability'">Availability</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [ngx-scroll-to]="'#food'">Food Menu</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [ngx-scroll-to]="'#gallery'">Gallery</a>
            </li>
        </ul>
    </div>
</nav>