<div class="full">
  <section class="content">
    <div class="row">
      <div class="col-sm-7 col-md-7">
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="row pt-3">
          <div class="container-reg">
            <div class="panel-body card mat-elevation-z8">
              <form [formGroup]="reg_form" (submit)="onRegister()">
                <div class="pt-3">
                  <img src="../assets/img/institute_default_logo.png">
                  <h3 class="header-3 pull-right">Sign Up</h3>
                </div>
                <!-- <div class="required-class">
                  <span>
                    Fields with
                    <span style="color: red">*</span> mark are mandatory
                  </span>
                </div> -->
                <div class="row">
                  <div class="col-sm-12 log-padding ">
                    <div class="row">
                      <div class="col-sm-6">
                        <mat-form-field>
                          <input matInput placeholder="First Name" formControlName="firstname" name="name" (keypress)="commonObj.restrictNumeric($event)"
                            maxlength="20" required>
                          <mat-error>
                            <span *ngIf="reg_form.get('firstname').errors?.required">
                              First name is required.
                            </span>
                            <span *ngIf="reg_form.get('firstname').errors?.pattern">
                              Please enter valid firstname
                            </span>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-6">
                        <mat-form-field>
                          <input matInput placeholder="Last Name" formControlName="lastname" name="name" (keypress)="commonObj.restrictNumeric($event)"
                            maxlength="20" required>
                          <mat-error>
                            <span *ngIf="reg_form.get('lastname').errors?.required">
                              Last name is required.
                            </span>
                            <span *ngIf="reg_form.get('lastname').errors?.pattern">
                              Please enter valid lastname
                            </span>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 reg-padding">
                    <mat-form-field>
                      <input matInput placeholder="Mobile No (don't include 0/91)" maxlength="10" formControlName="mobile" name="mobile" (keypress)="commonObj.onlyNumberKey($event)"
                        required>
                      <span matSuffix>
                        <i class="fa fa-phone"></i>
                      </span>                    
                      <mat-error >
                        <span *ngIf="reg_form.get('mobile').errors?.required">
                          Mobile number is required.
                        </span>
                        <span *ngIf="reg_form.get('mobile').errors?.pattern">
                          Please enter valid mobile number without 0/91.
                        </span>
                        <span *ngIf="reg_form.get('mobile').errors?.minlength">
                            Please enter valid mobile number .
                        </span>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-12 col-md-12 reg-padding">
                    <mat-form-field>
                      <input matInput placeholder="Email Id" maxlength="50" formControlName="email" name="email" required>
                      <!-- (blur)="onEmailGiven($event)" -->
                      <span matSuffix>
                        <i class="fa fa-envelope "></i>
                      </span>
                      <mat-error>
                        <span *ngIf="emailexist === true">Email already exists</span>
                        <span *ngIf="reg_form.get('email').errors?.required">
                          Email Id is required.
                        </span>
                        <span *ngIf="reg_form.get('email').errors?.pattern">
                          Please enter Valid Email Id .
                        </span>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-12 col-md-12 reg-padding">
                    <mat-form-field>
                      <input matInput type="password" maxlength="25" placeholder="Password" name="password" formControlName="password" required>
                      <span matSuffix>
                        <i class="fa fa-lock"></i>
                      </span>
                      
                      <mat-error>
                        <span *ngIf="reg_form.get('password').errors?.required">
                          Password is required.
                        </span>
                        <span *ngIf="reg_form.get('password').errors?.pattern">
                          Password should consist of 1 special character (Allowed special characters #,$,&,*)
                        </span>
                        <span *ngIf="reg_form.get('password').errors?.minlength">
                          Password should have min of 6 characters
                        </span>
                        <span *ngIf="reg_form.get('password').errors?.maxlength">
                          Password should have max length of 25
                        </span>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-12 col-md-12 reg-padding">
                    <mat-form-field>
                      <input matInput type="password" maxlength="25" placeholder="Confirm password" formControlName="confirmPassword" required>
                      <span matSuffix>
                        <i class="fa fa-lock "></i>
                      </span>
                      <mat-error>
                        <span *ngIf="reg_form.get('confirmPassword').errors?.required">
                          Confirm Password is required.
                        </span>
                        <span *ngIf="reg_form.get('confirmPassword').dirty && reg_form.get('confirmPassword').errors?.pattern">
                          Please enter valid Password
                        </span>
                        <!-- <span *ngIf="reg_form.hasError('mismatchedPasswords')">
                          Entered password is not matching
                        </span> -->
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-12 col-md-12 reg-padding">
                    <label class="control-label" for="group">Account Type
                      <!-- <span style="color: red">*</span> -->
                      :
                    </label>
                    <mat-radio-group id="group" class="example-radio-group" formControlName="type" required>
                      <mat-radio-button class="example-radio-button" value="1" >Job</mat-radio-button>
                      <mat-radio-button class="example-radio-button" value="2" >Hostel</mat-radio-button>
                      <mat-radio-button class="example-radio-button" value="3">Institute</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="col-sm-12  text-center">
                    <!-- <span class="alert" style="color: red" *ngIf="btnSubmit && !reg_form.valid && !reg_form.get('confirmPassword').dirty ">
                      Please enter mandatory fields
                    </span> -->
                    <span class="alert" style="color: red" *ngIf="btnSubmit && 
                    reg_form.hasError('mismatchedPasswords')">
                      Entered passwords are not matching
                    </span>
                  </div>
                  <div class="col-sm-12 col-md-12 reg-padding">
                    <div class="form-inline">
                    <mat-checkbox [(ngModel)]="checked" class="pt-0" [ngModelOptions]="{standalone: true}">
                      <p class="form-group terms">
                        By creating an account, you agree to our
                        <u>
                            <a routerLink="/login"> Terms of Use </a>
                          </u>
                        and our
                        <u>
                            <a routerLink="/login"> Privacy Policy </a>
                          </u>
                       .
                      </p>
                    </mat-checkbox>
                    </div>
                  </div>
                  <div class="col-sm-12 p-2 text-center">
                    <button id="signupSubmit" mat-button type="submit" class="btn btn-md btn-color">Register</button>
                  </div>

                  <div class="col-sm-12">
                    <div class="text-center">
                      <!-- <mat-divider></mat-divider> -->
                      <div class="options">
                        <p>Already have an account?
                          <u>
                            <a routerLink="../login">Sign in</a>
                          </u>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>