<!-- <div class="card card-body"> -->
<form [formGroup]="Institute_form" (ngSubmit)="onUpdate()">
  <!-- (submit)="onRegisterInstitute()"-->
  <div class="row">
    <div class="col-sm-12 ">
      <div class="block-header">
        
        <div class="row ">
            <div class="col-sm-6 ">
               <h5 class="h5-class"> <strong>Profile</strong>
               </h5>
            </div>
            <div class="col-sm-6 ">
                <button class="btn btn-sm btn-color pull-right" type="button" (click)="onedit()" [hidden]="Institute_form.enabled">
                    Edit                    
                  </button>
              <!-- <button class="btn-icon pull-right btn-color" type="button" (click)="onedit()" [hidden]="Institute_form.enabled">
                Edit
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button> -->
            </div>
          </div>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6 ">
            <mat-form-field>
              <input matInput placeholder="Institute Name" formControlName="name" [(ngModel)]="institueserObj.i_name" required>
              <mat-error *ngIf="!Institute_form.get('name').valid &&
                      (Institute_form.get('name').dirty || Institute_form.get('name').touched) || submitFlag">
                <span *ngIf="Institute_form.get('name').errors?.required">
                  Institute Name is required.
                </span>
                <span *ngIf="Institute_form.get('name').errors?.pattern">
                  Please Enter Valid Name.
                </span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6 ">
            <mat-form-field>
              <mat-select placeholder="Institute Type" formControlName="type" [(ngModel)]="institueserObj.i_type" multiple required>
                <mat-option *ngFor="let option of institueserObj.tech_mode" [value]="option.ct_id">
                  {{ option.course_type }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="!Institute_form.get('type').valid &&
                      (Institute_form.get('type').dirty || Institute_form.get('type').touched) || submitFlag">
                Institute Type is required.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="block-header">
        <strong>Institute Address</strong>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <mat-form-field>
              <mat-select placeholder="Country" formControlName="country" [(ngModel)]="institueserObj.selCountry" (change)="onCountryChange($event)"
                required>
                <mat-option *ngFor="let option of masterObj.countries " [value]="option.id">
                  {{ option.country_name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="!Institute_form.get('country').valid &&
                      (Institute_form.get('country').dirty || Institute_form.get('country').touched) || submitFlag">
                Country is required.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-md-6">
            <mat-form-field>
              <mat-select placeholder="State" formControlName="state" (change)="onStateChange($event)" [(ngModel)]="institueserObj.selState"
                required>
                <mat-option *ngFor="let option of masterObj.states" [value]="option.id">
                  {{ option.state_name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="!Institute_form.get('state').valid &&
                      (Institute_form.get('state').dirty || Institute_form.get('state').touched) || submitFlag">
                State is required.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <mat-form-field>
              <input matInput placeholder="City" formControlName="i_city" [matAutocomplete]="city" 
              [(ngModel)]="institueserObj.txtCity" autocomplete="off"
                 required>
              <mat-autocomplete #city="matAutocomplete">
                <mat-option *ngFor="let option of filteredcity | async" [value]="option.city_name">
                  <span>{{ option.city_name }}</span> 

                </mat-option>
              </mat-autocomplete>
              <mat-error >
                <span *ngIf="Institute_form.get('i_city').errors?.required">
                  City is required.
                </span>
                <span *ngIf="Institute_form.get('i_city').errors?.pattern">
                  Please Enter Valid City.
                </span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-md-6">
            <mat-form-field>
              <input matInput placeholder="Sub Location" formControlName="i_area" [(ngModel)]="institueserObj.txtSublocation" required>
              <mat-error *ngIf="!Institute_form.get('i_area').valid &&
              (Institute_form.get('i_area').dirty || Institute_form.get('i_area').touched) || submitFlag">
                <span *ngIf="Institute_form.get('i_area').errors?.required">
                  Sub Location required.
                </span>
                <span *ngIf="Institute_form.get('i_area').errors?.pattern">
                  Please enter valid Sub Location.
                </span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <mat-form-field>
              <input matInput placeholder="Address 1" formControlName="Address_1" required>
              <mat-error *ngIf="!Institute_form.get('Address_1').valid &&
              (Institute_form.get('Address_1').dirty || Institute_form.get('Address_1').touched) || submitFlag">
                <span *ngIf="Institute_form.get('Address_1').errors?.required">
                  Address 1 required.
                </span>
                <span *ngIf="Institute_form.get('Address_1').errors?.pattern">
                  Please enter valid address 1.
                </span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-md-6">
            <mat-form-field>
              <input matInput placeholder="Address 2" formControlName="Address_2" [(ngModel)]="institueserObj.txtAdd2">
              <mat-error *ngIf="!Institute_form.get('Address_1').valid &&
              (Institute_form.get('Address_2').dirty || Institute_form.get('Address_2').touched) || submitFlag">
                <span *ngIf="Institute_form.get('Address_2').errors?.required">
                  Address 2 required.
                </span>
                <span *ngIf="Institute_form.get('Address_2').errors?.pattern">
                  Please enter valid Adress 2.
                </span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <mat-form-field>
              <input matInput placeholder="Landmark" formControlName="i_landmark" [(ngModel)]="institueserObj.txtLandmark">
              <mat-error *ngIf="!Institute_form.get('i_pin').valid &&
              (Institute_form.get('i_landmark').dirty || Institute_form.get('i_landmark').touched) || submitFlag">
                <span *ngIf="Institute_form.get('i_landmark').errors?.required">
                  Land mark required.
                </span>
                <span *ngIf="Institute_form.get('i_landmark').errors?.pattern">
                  Please enter valid Landmark.
                </span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-md-6">
            <mat-form-field>
              <input matInput placeholder="Pincode" formControlName="i_pin" maxlength="6" minlength="6" (keypress)="commonObj.onlyNumberKey($event)"
                required>
              <mat-error>
                <span *ngIf="Institute_form.get('i_pin').errors?.required">
                  Pincode required.
                </span>
                <span *ngIf="Institute_form.get('i_pin').errors?.pattern">
                  Please enter valid pincode.
                </span>
                <span *ngIf="Institute_form.get('i_pin').errors?.minlength">
                 Please enter valid pincode.
                </span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="block-header">
        <strong>Contact Details</strong>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <mat-form-field>
              <input matInput placeholder="Contact Person" formControlName="fullname" required>
              <mat-error *ngIf="!Institute_form.get('fullname').valid &&
                          (Institute_form.get('fullname').dirty || Institute_form.get('fullname').touched) || submitFlag">
                <span *ngIf="Institute_form.get('fullname').errors?.required">
                  Contact Name is required.
                </span>
                <span *ngIf="Institute_form.get('fullname').errors?.pattern">
                  Please Enter Valid Name.
                </span>
              </mat-error>
            </mat-form-field>
          </div>
          <!-- <div class="col-sm-6 col-md-6">
              <mat-form-field>
                <input matInput  formControlName="contactperson">
              </mat-form-field>
            </div> -->
          <div class="col-sm-6 col-md-6">
            <mat-form-field>
              <input matInput placeholder="Email Id" formControlName="email" [appDisableControl]="true" required>
              <mat-error *ngIf="!Institute_form.get('email').valid &&
              (Institute_form.get('email').dirty || Institute_form.get('email').touched) || submitFlag">
                <span *ngIf="Institute_form.get('email').errors?.required">
                  Email Id is required.
                </span>
                <span *ngIf="Institute_form.get('email').errors?.pattern">
                  Please enter valid Email Id.
                </span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row">

          <div class="col-sm-6 col-md-6">
            <mat-form-field>
              <input matInput placeholder="Registered Mobile No." formControlName="mobile" [appDisableControl]="true"  (keypress)="commonObj.onlyNumberKey($event)" required>
              <mat-error *ngIf="!Institute_form.get('mobile').valid &&
            (Institute_form.get('mobile').dirty || Institute_form.get('mobile').touched) || submitFlag">
                <span *ngIf="Institute_form.get('mobile').errors?.required">
                  Registered number is required.
                </span>
                <span *ngIf="Institute_form.get('mobile').errors?.pattern">
                  Please Enter Valid mobile number.
                </span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-md-6">
            <mat-form-field>
              <input matInput placeholder="Secondary Mobile No." formControlName="i_secNo" (keypress)="commonObj.onlyNumberKey($event)" maxlength="10">
              <mat-error>
                <span *ngIf="Institute_form.get('i_secNo').errors?.required">
                  Primary number is required.
                </span>
                <span *ngIf="Institute_form.get('i_secNo').errors?.pattern">
                  Please Enter Valid Number.
                </span>
                <span *ngIf="Institute_form.get('i_secNo').errors?.minLength">
                  Please Enter Valid Number.
                </span>
                <span *ngIf="Institute_form.get('i_secNo').errors?.maxLength">
                  Please Enter Valid Number.
                </span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-2" [hidden]="institueserObj.editorFlag" #editor>
    <div class="col-sm-12">
      <div class="block-header">
        <strong>About Institute</strong>
      </div>
      <div class="col-sm-12">
        
          <ckeditor [(ngModel)]="ckeditorContent" [readonly]="Institute_form.disabled" formControlName="about" [config]="commonObj.ckEditorConfig"
            debounce="500">
          </ckeditor>
        
      </div>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-sm-12 col-md-12">
      <div class="text-center">
        <button mat-button class="btn btn-md btn-color m-2" type="button" [hidden]="!(Institute_form.enabled && (btnText == 'Update'))"
          (click)="onCancel()">Cancel</button>
        <button mat-button class="btn btn-md btn-color" type="submit" [hidden]="Institute_form.disabled">{{ btnText }}</button>
      </div>
    </div>
  </div>
</form>
<!-- </div> -->