<div class="page-height">

  <div class="row">

    <div class="col-sm-6 col-md-6 col-xl-4 pb-3">
      <div class="card text-center">
        <div class="card-header">
          <span>
            <i class=""></i>
          </span>
          <h4 class="card-title">Batches & Demos</h4>
        </div>
        <div class="card-body">

          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action ">Sales
              <span class="badge badge-success badge-pill pull-right">22%
                <i class="fa fa-arrow-up ml-1"></i>
              </span>
            </a>
            <a class="list-group-item list-group-item-action ">Sales
              <span class="badge badge-danger badge-pill pull-right">22%
                <i class="fa fa-arrow-up ml-1"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="card-footer text-muted">
          <a class="btn btn-color btn-sm ">Go Batches & Demos</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-xl-4 pb-3">
      <div class="card text-center">
        <div class="card-header">
          <span>
            <i class=""></i>
          </span>
          <h4 class="card-title">Offered Course</h4>
        </div>
        <div class="card-body">

          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action ">Sales
              <span class="badge badge-success badge-pill pull-right">22%
                <i class="fa fa-arrow-up ml-1"></i>
              </span>
            </a>
            <a class="list-group-item list-group-item-action ">Sales
              <span class="badge badge-danger badge-pill pull-right">22%
                <i class="fa fa-arrow-up ml-1"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="card-footer text-muted">
          <a class="btn btn-color btn-sm ">Go Offered Course</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-xl-4 pb-3">
      <div class="card text-center">
        <div class="card-header">
          <span>
            <i class=""></i>
          </span>
          <h4 class="card-title">Enquiry List</h4>
        </div>
        <div class="card-body">

          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action ">Sales
              <span class="badge badge-success badge-pill pull-right">22%
                <i class="fa fa-arrow-up ml-1"></i>
              </span>
            </a>
            <a class="list-group-item list-group-item-action ">Sales
              <span class="badge badge-danger badge-pill pull-right">22%
                <i class="fa fa-arrow-up ml-1"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="card-footer text-muted">
          <a class="btn btn-color btn-sm ">Go Enquiry List</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-xl-4 pb-3">
      <div class="card text-center">
        <div class="card-header">
          <span>
            <i class=""></i>
          </span>
          <h4 class="card-title">Faculty List</h4>
        </div>
        <div class="card-body">

          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action ">Sales
              <span class="badge badge-success badge-pill pull-right">22%
                <i class="fa fa-arrow-up ml-1"></i>
              </span>
            </a>
            <a class="list-group-item list-group-item-action ">Sales
              <span class="badge badge-danger badge-pill pull-right">22%
                <i class="fa fa-arrow-up ml-1"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="card-footer text-muted">
          <a class="btn btn-color btn-sm ">Go to Faculty list</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-xl-4 pb-3">
      <div class="card text-center">
        <div class="card-header">
          <span>
            <i class=""></i>
          </span>
          <h4 class="card-title">Gallery</h4>
        </div>
        <div class="card-body">

          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action ">Sales
              <span class="badge badge-success badge-pill pull-right">22%
                <i class="fa fa-arrow-up ml-1"></i>
              </span>
            </a>
            <a class="list-group-item list-group-item-action ">Sales
              <span class="badge badge-danger badge-pill pull-right">22%
                <i class="fa fa-arrow-up ml-1"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="card-footer text-muted">
          <a class="btn btn-color btn-sm ">Go Gallery</a>
        </div>
      </div>
    </div>
    <!--
    <div class="col-sm-6 col-md-6 col-xl-3 pb-3">
      <div class="card text-center">
        <div class="card-header">
          <span>
            <i class=""></i>
          </span>
          <h4 class="card-title">Batches & Demos</h4>
        </div>
        <div class="card-body">

          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action ">Sales
              <span class="badge badge-success badge-pill pull-right">22%
                <i class="fa fa-arrow-up ml-1"></i>
              </span>
            </a>
            <a class="list-group-item list-group-item-action ">Sales
              <span class="badge badge-danger badge-pill pull-right">22%
                <i class="fa fa-arrow-up ml-1"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="card-footer text-muted">
          <a class="btn btn-color btn-sm ">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-xl-3 pb-3">
      <div class="card text-center">
        <div class="card-header">
          <span>
            <i class=""></i>
          </span>
          <h4 class="card-title">Offered Course</h4>
        </div>
        <div class="card-body">

          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action ">Sales
              <span class="badge badge-success badge-pill pull-right">22%
                <i class="fa fa-arrow-up ml-1"></i>
              </span>
            </a>
            <a class="list-group-item list-group-item-action ">Sales
              <span class="badge badge-danger badge-pill pull-right">22%
                <i class="fa fa-arrow-up ml-1"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="card-footer text-muted">
          <a class="btn btn-color btn-sm ">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-xl-3 pb-3">
      <div class="card text-center">
        <div class="card-header">
          <span>
            <i class=""></i>
          </span>
          <h4 class="card-title">Enquiry List</h4>
        </div>
        <div class="card-body">

          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action ">Sales
              <span class="badge badge-success badge-pill pull-right">22%
                <i class="fa fa-arrow-up ml-1"></i>
              </span>
            </a>
            <a class="list-group-item list-group-item-action ">Sales
              <span class="badge badge-danger badge-pill pull-right">22%
                <i class="fa fa-arrow-up ml-1"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="card-footer text-muted">
          <a class="btn btn-color btn-sm ">Go somewhere</a>
        </div>
      </div>
    </div>
  -->
  </div>
</div>

<!--

  <div class="col-sm-6 col-md-6 col-xl-3">
      <div class="card">
        <h3 class="card-header primary-color white-text">Featured</h3>
        <div class="card-body">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a class="btn btn-primary waves-light" mdbWavesEffect>Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-6 col-xl-3">
        <div class="card mb-4">
            <div class="card-body">
      
              <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action waves-effect">Sales
                  <span class="badge badge-success badge-pill pull-right">22%
                    <i class="fa fa-arrow-up ml-1"></i>
                  </span>
                </a>
                <a class="list-group-item list-group-item-action waves-effect">Traffic
                  <span class="badge badge-danger badge-pill pull-right">5%
                    <i class="fa fa-arrow-down ml-1"></i>
                  </span>
                </a>
                <a class="list-group-item list-group-item-action waves-effect">Orders
                  <span class="badge badge-primary badge-pill pull-right">14</span>
                </a>
                <a class="list-group-item list-group-item-action waves-effect">Issues
                  <span class="badge badge-primary badge-pill pull-right">123</span>
                </a>
                <a class="list-group-item list-group-item-action waves-effect">Messages
                  <span class="badge badge-primary badge-pill pull-right">8</span>
                </a>
              </div>
              
            </div>
      
          </div>
    </div>

     <div class="col-sm-6 col-md-6 col-xl-3 mb-r">
      <div class="card card-cascade cascading-admin-card">

        <div class="admin-up">
          <i class="fa fa-line-chart warning-color"></i>
          <div class="data">
            <p>SUBSCRIPTIONS</p>
            <h4>
              <strong>200</strong>
            </h4>
          </div>
        </div>

        <div class="card-body">
          <div class="progress">
            <div class="progress-bar bg grey darken-2" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p class="card-text">Worse than last week (25%)</p>
        </div>

      </div>
    </div>

  -->