<table class="table table-striped table-hostel-facilities table-responsive ">
    <thead>
        <tr>
            <th>Room Type</th>
            <th>Single Share</th>
            <th>Double Share</th>
            <th>Triple Share</th>
            <th>Four Share</th>
            <th>Others</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Non AC </td>
            <td>
                1 </td>
            <td>
                7 </td>
            <td>
                6 </td>
            <td>
                NA </td>
            <td>
                6 </td>
        </tr>
        <tr>
            <td>AC </td>
            <td>
                1 </td>
            <td>
                8 </td>
            <td>
                7 </td>
            <td>
                NA </td>
            <td>
                NA </td>
        </tr>

    </tbody>
</table>