<ul class="hostel-facilities hostel-facilities-expand mb30 clearfix ">
    <li>
        <div class="row ">
            <span class="col-md-6 ">Food Type</span>
            <span class="col-md-4 ">: Yes</span>
        </div>
    </li>
    <li>
        <div class="row ">
            <span class="col-md-6 ">Breakfast</span>
            <span class="col-md-4 ">: No</span>
        </div>
    </li>
    <li>
        <div class="row ">
            <span class="col-md-6 ">Lunch</span>
            <span class="col-md-4 ">: Yes</span>
        </div>
    </li>
    <li>
        <div class="row ">
            <span class="col-md-6 ">Snacks</span>
            <span class="col-md-4 ">: No</span>
        </div>
    </li>
    <li>
        <div class="row ">
            <span class="col-md-6 ">Dinner</span>
            <span class="col-md-4 ">: Yes</span>
        </div>
    </li>
</ul>