<header class="main-header mat-elevation-z8" [hidden]=" !mobileQuery.matches">
  <nav class="nav navbar ">
    <a class="sidebar-toggle" role="button" (click)="snav.toggle()" [hidden]=" !mobileQuery.matches">
      <span class="sr-only">Toggle navigation</span>
    </a>
  </nav>
</header>
<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0" fullscreen>
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="0"
    [opened]="!mobileQuery.matches && sideFlag">
    <!-- <app-leftnavbar></app-leftnavbar> -->
    <aside>
      <section class="sidebar pt-3">
        <ul class="sidebar-menu">
          <li class="treeview" *ngFor="let item of presentMenu" [hidden]="item.hide" routerLinkActive="active">
            <a [routerLink]="item.url">
              <i [ngClass]="item.icon"></i>
              <span>{{item.menuName}}</span>
            </a>
          </li>
        </ul>
      </section>
    </aside>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-wrapper pt-1">
      <mc-breadcrumbs></mc-breadcrumbs>
      <section class="content">
        <div class="page-height">
          <router-outlet></router-outlet>
        </div>
      </section>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>