<div class="row">

    <div class="col-md-4">
        <ul class="hostel-facilities hostel-facilities-expand mb30 clearfix">
            <li>
                <div class="row">
                    <span class="col-md-6">Mineral Water</span>
                    <span class="col-md-4">: Yes</span>
                </div>
            </li>
            <li>
                <div class="row">
                    <span class="col-md-6">Washing Machine</span>
                    <span class="col-md-4">: No</span>
                </div>
            </li>
            <li>
                <div class="row">
                    <span class="col-md-6">Fridge</span>
                    <span class="col-md-4">: Yes</span>
                </div>
            </li>
            <li>
                <div class="row">
                    <span class="col-md-6">Separate Dining Hall</span>
                    <span class="col-md-4">: No</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="hostel-facilities hostel-facilities-expand mb30 clearfix">
            <li>
                <div class="row">
                    <span class="col-md-6">Wi-Fi Internet</span>
                    <span class="col-md-4">: Yes</span>
                </div>
            </li>
            <li>
                <div class="row">
                    <span class="col-md-6">AC</span>
                    <span class="col-md-4">: Yes</span>
                </div>
            </li>
            <li>
                <div class="row">
                    <span class="col-md-6">Security</span>
                    <span class="col-md-4">: Yes</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="hostel-facilities hostel-facilities-expand mb30 clearfix">
            <li>
                <div class="row">
                    <span class="col-md-6">Attached Bathroom</span>
                    <span class="col-md-4">: Yes</span>
                </div>
            </li>
            <li>
                <div class="row">
                    <span class="col-md-6">Daily Clean</span>
                    <span class="col-md-4">: No</span>
                </div>
            </li>
            <li>
                <div class="row">
                    <span class="col-md-6">Laundry</span>
                    <span class="col-md-4">: Yes</span>
                </div>
            </li>
            <li>
                <div class="row">
                    <span class="col-md-6">Hot Water</span>
                    <span class="col-md-4">: No</span>
                </div>
            </li>
        </ul>
    </div>
</div>