<div class="full">
  <section class="content">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <span class="fa fa-info fa-2x p-2" style="color:red"></span> Forgot Password
        </div>
      </div>

      <div class="col-sm-12 col-md-6 offset-sm-0 offset-md-3">
        <div class="card card-body">
          <form [formGroup]="form" (ngSubmit)="ResetPassword()">
            <div class="row">
              <div class="col-sm-12">
                <div class="p-2">
                  <div class="form-inline">
                    <div class="col-sm-12  text-center log-padding">
                      <span class="alert" style="color: red">
                        * Please enter required fields
                        <br> Allowed special characters for Password are #,$,&,*
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="p-2">
                  <mat-form-field>
                    <input matInput placeholder="New Password" type="password"
                    formControlName="newpassword" minlength="6" autocomplete="off" required>
                    <mat-error>
                      <span *ngIf="form.get('newpassword').errors?.required">
                        New Password is required.
                      </span>
                      <span *ngIf="form.get('newpassword').errors?.pattern">
                        Please enter valid password .
                      </span>
                      <span *ngIf="form.get('newpassword').errors?.minlength">
                        min Length is 6 .
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="p-2">
                  <mat-form-field>
                    <input matInput placeholder="Confirm Password"  type="password"
                    formControlName="confirmpassword" minlength="6" autocomplete="off" required>
                    <mat-error>
                      <span *ngIf="form.get('confirmpassword').errors?.required">
                        confirm Password is required.
                      </span>
                      <span *ngIf="form.get('confirmpassword').dirty">
                        Password not matching.
                      </span>
                      <span *ngIf="form.get('confirmpassword').errors?.minlength">
                        min Length is 6 .
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="text-center">
                  <button class="btn btn-sm btn-color" mat-button type="submit">Submit</button>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>