<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <div class="docs-component-viewer-nav-content">
      <!---->
      <nav>
        <ul class="sidebar-menu">
          <li class="treeview" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/institute/institute-dashboard">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <mat-accordion>
            <li>
              <mat-expansion-panel>
                <mat-expansion-panel-header  collapsedHeight="40px" 
                expandedHeight="30px">
                  <mat-panel-title>
                    <a>
                      <i class="fa fa-files-o"></i>
                      <span>Institutes & branches</span>
                      <!-- <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span> -->
                    </a>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="p-2">
                  <li class="treeview" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="/institute/institute-edit">
                      <i class="fa fa-dashboard"></i>
                      <span>Institute Profile</span>
                    </a>
                  </li>
                </ul>
              </mat-expansion-panel>
            </li>
            <li>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    menu
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                  <!---->
                  <li>
                    <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/autocomplete">
                      Autocomplete
                    </a>
                  </li>
                  <li>
                    <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/checkbox">
                      Checkbox
                    </a>
                  </li>
                  <li>
                    <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/datepicker">
                      Datepicker
                    </a>
                  </li>
                  <li>
                    <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/form-field">
                      Form field
                    </a>
                  </li>
                  <li>
                    <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/input">
                      Input
                    </a>
                  </li>
                  <li>
                    <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/radio">
                      Radio button
                    </a>
                  </li>
                  <li>
                    <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/select">
                      Select
                    </a>
                  </li>
                  <li>
                    <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/slider">
                      Slider
                    </a>
                  </li>
                  <li>
                    <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/slide-toggle">
                      Slide toggle
                    </a>
                  </li>
                </ul>
              </mat-expansion-panel>
            </li>
          </mat-accordion>
        </ul>
      </nav>
    </div>
  </section>
</aside>